body{
	margin: 0;
	background: black;
}
header{
	background: Turquoise;
	width: 768px;
	height: 60px;
	margin: auto;
}

.flex-container{
	height: calc(100% - 95px);
	width: 768px;
	float: none;
	margin: auto;
	background: white;
	display: flex;
}
.nav{
	background: LightSeaGreen;
	width: 120px;
}
.cub1{
	background: yellow;
	width: calc(100% - 10px);
	margin: 5px;
}

p{
	text-indent: 5px;
}
.content{
	width: 100%;
	height: calc(100% - 50px);
	background: white;
	text-align: justify;
}
.cub2{
	width: 70px;
	height: 70px;
	opacity: 45%;
	background: blue;
	font-size: 13px;
	float: left;
	margin: auto;

}
footer{
	margin: auto;
	background: white;
	height: 80px;
	width: 768px;
	display: flex;
}

.box1{
	background: green;
	height: 150px;
	width: 100%;
}
.box2{
	background: seagreen;
	height: 150px;
	width: 100%;
}
.box3{
	background: darkseagreen;
	height: 150px;
	width: 100%;
}


@media screen and (max-width: 768px){
	header{
		width: 100%;
		height: 50px;
	}
	footer{
		flex-direction: column;
		width: 100%;
		height: 150px;
	}
	.flex-container{
		flex-direction: column;
		width: 100%;
	}
	.content{
		width: 100%;
	}
	.nav{
		display: flex;
		width: 100%;
		height: 50px;
	}
	.cub1{
		width: 19%;
		height: 35px;
	}
}